@import "../../styles/main.scss";

.NavBarContainer {
<<<<<<< HEAD:sass-exercise/src/components/NavBar/NavBar.module.scss
  /* To Do */
=======
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(desktop) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .NavigationLinks {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 auto;
    margin: 1em 0 1em 0;
    padding: 0;

    li {
      margin: 1em;

      .Link {
        display: flex;
        justify-content: center;
        text-decoration: none;
        padding: 0.75em 1.5em 0.75em 1.5em;
        border-radius: 0.5em;
        font-size: $fs-larger;
        width: 300px;

        &--light {
          @include tertiary-color(lightmode);
          &:hover {
            @include tertiary-color(darkmode);
          }
        }
        &--dark {
          @include tertiary-color(darkmode);
          &:hover {
            @include tertiary-color(lightmode);
          }
        }
      }
    }
    @include breakpoint(desktop) {
      flex-direction: row;
      padding: 2em;
      flex: 1 1 auto;
      justify-content: flex-start;
      align-items: center;

      li {
        margin: 0;
        padding: 0.25em 1em 0.25em 1em;
        .Link {
          font-size: $fs-large;
          width: 100px;
        }
      }
    }
  }

  .ToggleButton {
    display: inline-block;
    margin: 1em;
    align-items: center;

    @include breakpoint(desktop) {
      padding-right: 2.5em;
    }
  }

  &--light {
    @include secondary-color(lightmode);
  }
  &--dark {
    @include secondary-color(darkmode);
  }
>>>>>>> 60f53dc55aa8ac34f09aa342f40f3cc86d7db77d:inflora-react-exercise/src/components/NavBar/NavBar.module.scss
}
