@import "../../styles/main.scss";

.HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  img {
    // height: 12em;
    // padding: 3em 0 3em 0;
    // margin-left: 4em;
    // margin-right: 2em;
    width: 55px;
  }

  h1 {
    font-family: $f-secondary;
    font-size: $fs-larger;
  }

  &--dark {
    @include primary-color(darkmode);
  }
  &--light {
    @include primary-color(lightmode);
  }

  @include breakpoint(desktop) {
 /* To Do */
    justify-content: flex-start;
    
  
  
  img {
    // height: 12em;
    // padding: 3em 0 3em 0;
    // margin-left: 4em;
    // margin-right: 2em;
    width: 125px;
  }

  h1 {
    font-family: $f-secondary;
    font-size: $fs-super-large;
  }
  }
}
