@import "../../styles/main.scss";

.HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 55px;
  }

  h1 {
    font-family: $f-secondary;
    font-size: $fs-larger;
  }

  &--dark {
    @include primary-color(darkmode);
  }
  &--light {
    @include primary-color(lightmode);
  }

  @include breakpoint(desktop) {
    /* To Do */
    justify-content: flex-start;
    

    img {
      width: 125px;
      margin-left: 2em;
    }

    h1 {
      font-family: $f-secondary;
      font-size: $fs-super-large;
    }
  }
}
