@import "../../styles/main.scss";

.NavBarContainer {
     /* To Do */
  // display: flex;
  // align-items: center;
  // width: 100%;
  // justify-content: space-between;
  // padding: 1.5em;

  &--light {
    background-color: $c-pastellgreen;
  }
  &--dark {
    background-color: $c-evergreen;
  }
 
  @include breakpoint(desktop) {
  }

  .NavigationLinks {
    /* To Do */
    // display: flex;
    margin: 0;
    padding: 1em 0;
    // justify-content: center;
    // align-items: center;
    // align-content: center;
    // text-align: center;
   

    li {
      margin: 1em;
      list-style-type: none;
      // align-items: center;
      // justify-items: center;

       .Link {
        /* To Do */
        text-decoration: none;
        color: $c-grassgreen;
        font-style: $f-primary;
        padding: 1em;
        display: block;
        width: 15em;
        // align-items: center;
        justify-content: center;
        font-weight:bold;
        border-radius: 1em;
        text-align: center;
        &--light {
          /* To Do */
          background-color: $c-lightbeige;
          &:hover {
            /* To Do */
            background-color: $c-darkturqoise;
            color: $c-lightbeige;
          }
        }
        &--dark {
          /* To Do */
          background-color: $c-grassgreen;
          color: $c-lightbeige;
          &:hover {
            /* To Do */
            background-color: $c-woodbrown;

          }
        }
      }
    }
    @include breakpoint(desktop) {
      /* To Do */
    }
  }

  .ToggleButton {
    /* To Do */
    
  }
}
