@import "../../styles/main.scss";

.NavBarContainer {
  /* To Do */
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--light {
    background-color: $c-pastellgreen;
  }
  &--dark {
    background-color: $c-evergreen;
  }

  @include breakpoint(desktop) {
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-content: space-between;
    padding-right: 2em;
    padding-left: 1em;
  }

  .NavigationLinks {
    /* To Do */
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    padding: 1em 0;

    li {
      margin: 1em;
      list-style-type: none;

      .Link {
        /* To Do */
        text-decoration: none;
        color: $c-grassgreen;
        font-style: $f-primary;
        padding: 1em;
        display: block;
        width: 15em;
        @include breakpoint(desktop) {
          width: 6em;
        }
        font-weight: bold;
        border-radius: 1em;
        text-align: center;
        &--light {
          /* To Do */
          background-color: $c-lightbeige;
          &:hover {
            /* To Do */
            background-color: $c-darkturqoise;
            color: $c-lightbeige;
          }
        }
        &--dark {
          /* To Do */
          background-color: $c-grassgreen;
          color: $c-lightbeige;
          &:hover {
            /* To Do */
            background-color: $c-woodbrown;
          }
        }
      }
    }
    @include breakpoint(desktop) {
      /* To Do */
      display: flex;
      flex-direction: row;
    }
  }

  .ToggleButton {
    /* To Do */
    align-self: center;
    margin-bottom: 2em;

    @include breakpoint(desktop) {
      /* To Do */
      margin-top: 1.5em;
    }
  }
}
