/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) {
      @content;
    }
  } @else {
    @media (max-width: 37.5em) {
      @content;
    }
  }
}

/*********************
Define Mixins for Dark and Light mode
*********************/

// Example
@mixin primary-color($theme) {
  @if $theme == darkmode {
    background-color: #382933;
    color: #a4b494;
  } @else {
    background-color: #219f94;
    color: #e8e8a6;
  }
}
