/* Light Mode */
$c-darkturqoise: #219f94;
$c-pastellgreen: #c1deae;
$c-lightbeige: #f2f5c8;
$c-beige: #e8e8a6;

/* Dark Mode */
$c-woodbrown: #382933;
$c-evergreen: #3b5249;
$c-grassgreen: #519872;
$c-succulentgreen: #a4b494;

/* Fonts */
$f-primary: Tahoma, sans-serif;
$f-secondary: "Courgette", cursive;

/* Font-sizes */
$global-font-size: 14px;
$fs-small: 8px;
$fs-medium: 18px;
$fs-large: 22px;
$fs-larger: 34px;
$fs-super-large: 80px;
$fs-super-extreme-large: 120px;
