@import "../../styles/main.scss";
/* To Do */


.ImageBox {
    border: solid 3px black;
    width: 200px;
    height: auto;
    margin: 3em;
    border-radius: 15px;
}
 
.InfoBox {
display: flex;
flex-direction: row;
align-items: center;
// justify-content: space-between;
border-radius: 15px;
&--light {
background-color: $c-beige;
}
&--dark {
    background-color: $c-succulentgreen;
}
width: 80%;


@include breakpoint(desktop) {
    display: flex;
    align-items: center;

    &--reverse {
        flex-direction: row-reverse;
    }
}
}

.TextBox {
    display: flex;
    font-family: $f-primary;
    padding: 1.5em;
    margin: 1em;
    border-radius: 15px;

    &--light {
        background-color: $c-pastellgreen;
        color: black;
    }
    &--dark {
        background-color: $c-evergreen;
    }
    
 
   
 
}