@import "../../styles/main.scss";
/* To Do */


.ImageBox {
    border: solid 3px black;
    width: 200px;
    height: auto;
    margin: 3em;
    border-radius: 15px;
}
 
.InfoBox {
display: flex;
justify-content: space-between;
border-radius: 15px;
&--light {
background-color: $c-beige;
}
&--dark {
    background-color: $c-succulentgreen;
}
width: 80%;


@include breakpoint(desktop) {
    display: flex;
    align-items: center;

    &--reverse {
        flex-direction: row-reverse;
    }
}
}

.TextBox {
    &--light {
        background-color: $c-pastellgreen;
    }
    &--dark {
        background-color: $c-evergreen;
    }
    
    display: flex;
    &--dark {
        color: $c-succulentgreen;
    }
    &--light {
         color: black;
    }
   
    font-family: $f-primary;
    padding: 3em;
    margin: 1em;
    border-radius: 15px;
}