@import "../../styles/main.scss";
/* To Do */

.ImageBox {
  border: solid 3px black;
  width: 150px;
  height: auto;
  border-radius: 15px;
  align-self: center;
}

.InfoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 2em;
  &--light {
    background-color: $c-beige;
  }
  &--dark {
    background-color: $c-succulentgreen;
  }
  width: 80%;

  @include breakpoint(desktop) {
    display: flex;
    flex-direction: row;

    &--reverse {
      flex-direction: row-reverse;
    }
  }
}

.TextBox {
  display: flex;
  font-family: $f-primary;
  padding: 1.5em;
  margin: 1em;
  border-radius: 15px;

  &--light {
    background-color: $c-pastellgreen;
    color: black;
  }
  &--dark {
    background-color: $c-evergreen;
  }
}
